
.services {
    display: flex;
    width: calc(var(--sidebar-expanded-width) * 4);
    background: linear-gradient(50deg, var(--color-secondary-50) 40%, var(--color-primary) 80%);
    color: var(--color-neutral);
    border-top-left-radius: var(--spacing-lg);
    border-bottom-left-radius: var(--spacing-lg);
    z-index: -1;
    opacity: 0.9;

}

/* LEFT PART (INFO) */
.leftPart {
    flex: 2;
    text-align: left;

    color: var(--color-neutral);
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(270deg, var(--color-secondary-50) 0%, var(--color-secondary) 20%);
    border-top-left-radius: var(--spacing-lg);
    border-bottom-left-radius: var(--spacing-lg);
    display: flex;
}

.leftPartContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg) var(--spacing-md);
}

.leftPart .image {
    height: 100%;
    width: 30%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: var(--spacing-lg);
    border-bottom-left-radius: var(--spacing-lg);
}

.leftPartContent h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
    padding-bottom: var(--spacing-lg);
}

.leftPartContent .description {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: var(--spacing-lg);
}

.leftPartContent ul.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-md);
}

.services .leftPartContent ul.list li {
    display: flex;
    align-items: center;
    text-align: left;
    gap: var(--spacing-sm);
    position: relative;
}

.paw {
    border: 1px solid var(--color-primary);
    border-radius: 100%;
    padding: var(--spacing-xs);
    color: var(--color-secondary);
    background-color: var(--color-primary);
}


/* RIGHT PART (ANIMATED OPTIONS) */
.services .rightPart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    z-index: 2;
}

.services .rightPart li {
    border: 1px solid var(--color-secondary);
    padding: var(--spacing-md) 0;
    text-align: center;
    color: white;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

.services .rightPart li:hover {
    background-color: var(--color-accent);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.services .rightPart li.activeItem {
    background-color: var(--color-primary);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
